.header {
  background-color: #f8df54;
}

.header div {
  margin: auto;
  padding: 0 2em;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 0.9rem;
}
