.container {
  background-color: #ffff7e;

  div {
    max-width: 1600px;
    margin: auto;
    padding: 0 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      list-style: none;
    }
  }
}
